<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="style.css">
    <title>Hôte et famille d'accueil pour les animaux</title>
    <meta name = Hebergement animal entre particulier
    content= "30 Millions est la solution pour la garde animalière">
  </head>

  <body>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
    <div class="card-category"
      style="background-image:app/views/pages/img/banniere_animal.jpg ,(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url (https://association-gala.fr/faire-garder-son-animal-la-solution-avec-g-a-l-a-et-pabete/)">
      <h1><em>30 Millions D'Amis</em></h1>
     <img class="avatar-large" alt="avatar-large"
      src="pages/img/logo_animaux.png" class="img-circle">
    </div>
    <div class="container" id="title">
     <h2> La solution à votre problème</h2>
    </div>
    <div class="card-product">
      <img src="pages/img/chien_vacance.jpg">
    </div>
    <p></p>

  </body>
</html>
